*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}
body{
    background-color: #f7f7f7;
}
.navbar{
    display: flex;
    align-items: center;
    background:#020703;
    width: 100%;
    position: fixed;
    padding: 2px 7px;
    justify-content: space-between;
}
.lnav{
    /* background: greenyellow; */
}
.lnav .logo{
    font-family: 'Babylonica', cursive;
    padding: 0rem 2rem;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 2px rgb(64, 64, 64),2px 2px 20px white;
    font-weight: bolder;
}
.rnav{
    /* background: yellow; */
}
.rnav .navul{
    display: flex;
    justify-content: right;
    padding-right:0.5rem ;
}
.rnav .navlist{
    list-style: none;
    padding: 2px 12px;
    margin: 0 1rem;
    color:aliceblue;
}
.rnav .navlist a{
    color:aliceblue;
    text-decoration: none;
    padding: 0 0.7rem;
}
.rnav .navlist a:hover{
    background-color: aliceblue;
    color:#1B1212;
    border-radius: 1rem;
}
.wel{
    text-align: center;
    /* padding: 5rem 0rem; */
    background: url("notebook/welcome.jpg");
    font-size: 1.2rem;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
.weltxt h1{
    color: black;
    font-size: 2.8rem;
    text-shadow: 5px 3px 6px #313131;
    padding-top: 22rem;
}
.weltxt h5{
    color: black;
    text-shadow: 5px 3px 6px #313131;
    /* border: 1px solid red; */
    /* padding-top: 23rem; */
}

.subject{
    max-width: 55rem;
    margin: auto;
    margin-top: 2rem;
}
.subject h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Playfair Display SC', serif;
    text-shadow: 3px 3px 3px gray;
    overflow: hidden;
    background-color:#f7f7f7;
}
hr{
    width: 13rem;
    height: 2px;
    background-color: #020703;
    margin: auto;
    border-radius: 50%;
    box-shadow: 3px 3px 3px gray;
}
.sub{
 display: flex;   
 flex-wrap: wrap;
 padding: 2.5rem;
 justify-content: center;
 background-color: white;
 /* border: 1px solid black; */
 margin: 2rem 0;
 box-shadow: -4px -4px 3px gray;
 border-radius: 20px;
}
.leftp{
    /* border: 1px solid red; */
    /* text-align: right; */
    padding: 2rem;
    line-height: 2rem;
}
.leftp h2 span{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
}
.leftp ul{
    /* border: 1px solid red; */
    text-align: left;
    font-size: 1rem;
    padding-left: 2rem;
}
.rightp img{
    /* border: 1px solid blue; */
    height: 18rem;
    width: 22rem;
}
.rev{
    flex-direction: row-reverse;
}
.btn{
    margin-top: 12px;
    text-decoration: none;
    border: 5px double #020703;
    padding: 4px 10px;
    border-radius: 2rem;
    color: black;
    font-size: 1rem;
    transition: 0.3s linear;
}
.btn:hover{
    box-shadow: inset 0px 100px black;
    color:#f7f7f7;
    font-size: 1.2rem;
}
@media screen and (max-width: 800px) {
    *{
        font-size: 12px;
    }
    .subject{
        /* border: 1px solid red; */
        /* margin: 2rem 10rem; */
        max-width: 60rem;
        margin: auto;
    }
}
